include ./template.jade

body
  .container
    .row
      .col-md-12
        h1.text-center Oval Basecamp Authorization
    .row
      .col-sm-6.col-sm-offset-3
        p.lead.text-center Basecamp requires a personal token to interact with its API. Click below to generate your token, then paste it in Alfred.

    .row
      .col-sm-4.col-sm-offset-4
        a.btn.btn-success.center-block(href=authURL)
          span(style="margin-left: 10px") Authenticate Basecamp
